*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 
    
}

body{
    width: 100vw;
   background: url(../assets/img/fondo-marmol.jpg);

}
.encabezado {
    height: 100px;
    width: 33vw;
   
    align-self: center;
    display: flex;
}


.titulo{
    margin-left: 10px;
    height: 100px;
    width: 66vw;
   
    display: flex;
    
}

h1{
   margin-top: 30px;
    flex-grow: 1;
    color: darkgreen;
    font-size: 300%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    justify-content: center;
   
   
}
.contenedor{
    margin-top: 10px;
    height: 500px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
   
}


nav{
    width: 100vw;
    margin-left: 1100px;
    gap: 10px;
    align-self: flex-end;
    float: left;
  
    display: flex;
    flex-direction: column;
  
}
nav a{
    color: black;
    width: 15rem;
    height: 2rem;
    background-color: blue;
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
    text-decoration: none;
    font-size: 150%;
}

.home{
    background-color: green;
}

.imagen-portada{
    margin-left: 100px;
    margin-top: 10px;
    height: 10vw;
    width: 66vw;
  
}

.imagen1{
    width: 100vw;
    height: 300px;
    object-fit: cover;
    display: flex;
    border-radius: 5%;
  
}
.main {
    
    height: 500px;
    width: 100vw;
  
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
h2{
    width: 97vw;
margin-left: 3px;
     flex-grow: 1;
     color: rgb(2, 2, 2);
     font-size: 200%;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-weight: bold;
     text-align: center;
     justify-content: center;
     background-color: beige;
    
 }


.imagen2{
    width: auto;
    height: 400px;

display: flex;
flex-direction: column;
}


.imag1{
    margin-left: 25px;
    width: 80px;
   height: 100px;
   filter: drop-shadow(10px 10px 20px black);
}

.imag2{
    width: auto;
   height: 200px;
   position: relative;
   left: 50px;
  border-radius: 10%;
}


footer{
    margin-top: 40px;
   
    background-color: beige;
    height: 2vw;
    font-size: 250% ;
}
h6{
    margin-left: 30px;
}

.Upcoming{
    margin-left: 100px;
    font-size: 150%;
    text-align: center;

}


#body-contact{
height: 50vw;

}


.logo{
    width: 100vw;
    height: auto;
    display: flex;
}

.img_contac{
 
    width: 400px;
    margin-top: 10px;
}
.Contact{
    background-color: green;
}

.correo1{
    width: 60vw;
    height: 200px;
    font-family: cursive; 
    margin-left: 10px;
    font-size: 300%;
    text-align: center;

   
}
.texto{
    width: 60vw;
    height: 400px;
    font-family: cursive; 
  
    font-size: 100%;
    text-align: center;
}


.about{
    background-color: green;
}

/*tablas*/

table{
    margin-left: 250px;
    background-color: bisque;
    text-align: left;
    border-collapse: collapse;
    width: 50%;
}
th, td {
    border: solid 1px black;
    padding: 10px;
}
thead{
    background-color: aqua;
    border-bottom:solid 5px black;
    color:black
}
tr:nth-child(even){
    background-color: azure;
}
tr:hover{
background-color: #369681;
color: white;
}

.titulo2{
  font-size: 200% ;
}
h3{
    text-align: center;
    font-size: 150%;
}

.texto2{
    margin-left: 200px;
   margin-top: 10px;
    width: 60vw;
    height: 400px;
    font-family: cursive; 
    font-size: 100%;
    text-align: center;
}



h4{
    margin-top: 10px;
    width: 100vw;
    flex-grow: 1;
    color: rgb(2, 2, 2);
    font-size: 150%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    justify-content: center; 

}
h5{
    margin-top: 10px;
    margin-left: 10px;
    width: 100vw;
    flex-grow: 1;
    color: rgb(2, 2, 2);
    font-size: 150%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
  
    justify-content: center; 
}
.texto3{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 30px;
    width: 100vw;
    flex-grow: 1;
    color: rgb(2, 2, 2);
    font: size 100%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
   
    justify-content: center; 
}

 .game{
    background-color: green;
 }
 .formulario{
    background-color: green;
 }
 .rules{
    background-color: green;
 }

 .titulo-formulario{
    background-color: rgb(255, 255, 255);
 }

 form{
    background-color: rgb(248, 249, 250);
   margin-left: 20px;
   width: 96%;

 }
 .titulo-formulario{
    margin-left: 20px;
    width: 96%;
 }
 
 fieldset{
    font-size: 200%;
    color: rgb(14, 14, 15);
    border: hsl(150, 25%, 98%);
    margin-top: 5px;
    margin-left: 20px;
 }
 label{
    font-size: 70%;
 }

.dale{
    font-size: 250%;
    
 }
 input{
    font-size: 80%;
 }
 .Enviar{
    margin-top: 20px;
margin-left: 600px;
   text-align: center;
    font-size: 200% ;
 }

.tex-play{
font-style: 100%;
margin-top: 10px;
margin-left: 20px;
margin-right: 30px;
text-align: center;
 }


iframe{
    margin-left: 50px;
    width: 80vw;
    height:80vw;
}
.botonre{
 margin-left: 1000px;
    width: 10vw;
 height: 10vw;
   background-color: black;
   border-radius: 10%;
}
.lista-letras{
    margin-left: 50px;
list-style-type: lower-latin;
}
.lista-ordenada{
    margin-left: 20px;
}
